.hidden {
    display: none;
}


.container-fluid {
    background-color: lavenderblush;
}

.style{
    font-family: 'Raleway', sans-serif;
}
.container-fluid h1{
    color: brown;
}
.container-fluid h2{
    color: dodgerblue;
}
#fb{	
    float: right;
}
